[package]
name = "braid-mvg"
description = "Braid's camera geometry and multi-view geometry (MVG) types and algorithms."
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"
license = "MIT OR Apache-2.0"
repository = "https://github.com/strawlab/strand-braid"

[dependencies]
nalgebra.workspace = true
simba.workspace = true
num-traits.workspace = true
serde.workspace = true
serde_yaml.workspace = true
serde_json.workspace = true
thiserror.workspace = true
cam-geom.workspace = true
opencv-ros-camera.workspace = true
re_sdk = { workspace = true, optional = true }
re_sdk_types = { workspace = true, optional = true, features = ["glam"] }

[dev-dependencies]
num-iter.workspace = true
approx.workspace = true
dlt.workspace = true
eyre.workspace = true

[features]
rerun-io = ["dep:re_sdk", "dep:re_sdk_types"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "export-rerun-log"
required-features = ["rerun-io"]
