[package]
name = "ads-webasm-example"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"

[dependencies]
wasm-bindgen.workspace = true
js-sys.workspace = true
chrono.workspace = true
yew.workspace = true
serde.workspace = true
serde_yaml.workspace = true
yew-tincture.workspace = true
log.workspace = true
wasm-logger.workspace = true

ads-webasm = { workspace = true, features = ["csv-widget"] }
strand-cam-bui-types.workspace = true
strand-cam-enum-iter.workspace = true
