[package]
name = "led-box-firmware"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
description = "firmware for Strawlab optogenetics LED control device"
edition = "2024"

[dependencies]
cortex-m = { version = "0.7.6", features = ["critical-section-single-core"] }
cortex-m-rt = "0.7.3"
cortex-m-rtic = "1.0"
defmt = "1.0.1"
defmt-rtt = "1.0"
panic-probe = { version = "1.0", features = ["print-defmt"] }
stm32f3xx-hal = { version = "0.9.0", features = ["rt", "stm32f303xe"] }
nb = "1"
byteorder = { version = "1", default-features = false }
heapless = "0.8"
strand-led-box-comms = { path = "../strand-led-box-comms", default-features = false, features = [
    "print-defmt",
] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde-json-core = "0.6"

json-lines = { version = "0.1.0", default-features = false }
void = { version = "1.0.2", default-features = false }
embedded-hal = "0.2.5"
embedded-time = "0.12.1"
static_cell = "2.1.0"

[profile.release]
lto = true
debug = true
opt-level = "s"
