[package]
name = "fastfreeimage"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"

[dependencies]
thiserror.workspace = true
imops = { path = "../imops" }
machine-vision-formats.workspace = true
aligned-vec = "0.6.4"

[dev-dependencies]
itertools.workspace = true
criterion = "0.5"
approx.workspace = true
anyhow.workspace = true

[features]
# Use portable_simd from rust nightly
portsimd = ["imops/simd"]

[[bench]]
name = "bench"
harness = false
