[package]
name = "fastimage"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version = "1.76"

[dependencies]
ipp-sys.workspace = true
thiserror.workspace = true
num-traits.workspace = true
machine-vision-formats.workspace = true

[dev-dependencies]
itertools.workspace = true
criterion = "0.5"
approx.workspace = true

[features]
default = ["simd-sse2"]
simd-avx2 = []
simd-sse2 = []

[[bench]]
name = "bench"
harness = false
