[package]
name = "mvg"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version="1.60"

[dependencies]
nalgebra = {version="0.30", features=["serde-serialize"]}
num-traits = "0.2"
serde = {version="1.0", features=["derive"]}
serde_yaml = "0.8"
serde_json = "1.0"
thiserror = "1.0"
log = "0.4"
alga = "0.9"
cam-geom = {version = "0.12", features=["serde-serialize"]}
opencv-ros-camera = {version = "0.12", features=["serde-serialize"]}

[dev-dependencies]
num-iter = "0.1"
approx = "0.5"
dlt = "0.10"
anyhow = "1.0"

[features]
serde-serialize = []
backtrace = []
