[Desktop Entry]
Encoding=UTF-8
Version=0.1.0
Type=Application
Categories=Application
Exec=/usr/bin/strand-cam-dc1394
Name=Strand Camera (DC1394)
GenericName=Realtime Image Analysis
Comment=
Icon=strand-cam-dc1394-icon
