[package]
name = "flydra-types"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version="1.60"

[dependencies]
libc = "0.2"
byteorder = "1"
chrono = {version="0.4.27", default-features=false, features=["serde", "clock", "std", "wasmbind"]}
thiserror = "1.0"
serde = {version="1.0", features=["derive"]}
serde_cbor = {version="0.11.2", optional=true}
tokio-util = {version="0.7.3", features=["codec"], optional=true}
bytes = {version="1.0", optional=true}
bitflags = "1.0"
dns-lookup = {version="1", optional=true}
ordered-float = {version="3.0.0", features=["serde"]}
static_assertions = "1.1.0"
bui-backend-types = "0.8"
nalgebra = {version="0.32", features=["serde-serialize"]}
num-integer = "0.1"

withkey = {path="../withkey"}
datetime-conversion = {path="../datetime-conversion"}
rust-cam-bui-types = {path="../rust-cam-bui-types"}
flydra-pt-detect-cfg = {path="../flydra-feature-detector/flydra-pt-detect-cfg"}
flydra-feature-detector-types = {path="../flydra-feature-detector/flydra-feature-detector-types"}

[features]
default=["with-tokio-codec"]

with-dns=["dns-lookup"]
with-tokio-codec=["tokio-util", "bytes", "serde_cbor"]

[dev-dependencies]
anyhow = "1"
serde_cbor = "0.11.2"
csv = "1.0"
