[package]
name = "mkv-strand-reader"
version = "0.1.0"
edition = "2024"

[dependencies]
mkv-parser-kit = { path = "../mkv-parser-kit" }
chrono.workspace = true
thiserror.workspace = true

[dev-dependencies]
anyhow.workspace = true
clap.workspace = true
