[package]
name = "mp4-writer"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"

[dependencies]
tracing.workspace = true
chrono.workspace = true
mp4.workspace = true

openh264 = { workspace = true, optional = true }
thiserror.workspace = true
machine-vision-formats.workspace = true
y4m.workspace = true
bitvec = "1.0.1"
h264-reader.workspace = true
less-avc.workspace = true

nvenc = { workspace = true, optional = true }
dynlink-cuda = { workspace = true, optional = true }
dynlink-nvidia-encode = { workspace = true, optional = true }

strand-cam-remote-control.workspace = true
convert-image.workspace = true
strand-dynamic-frame = { workspace = true, features = ["convert-image"] }
less-avc-wrapper.workspace = true
frame-source.workspace = true
y4m-writer.workspace = true

serde_json.workspace = true

[dev-dependencies]
env-tracing-logger.workspace = true
eyre.workspace = true
image.workspace = true
ttf-firacode.workspace = true
rusttype.workspace = true
tempfile.workspace = true
clap.workspace = true

strand-cam-remote-control.workspace = true
font-drawing.workspace = true
strand-dynamic-frame = { workspace = true, features = ["convert-image"] }

[features]
openh264-encode = ["openh264", "frame-source/openh264"]
nv-encode = ["nvenc", "dynlink-cuda", "dynlink-nvidia-encode"]
