[package]
name = "freemovr-calibration-webapp"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version = "1.76"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
yew.workspace = true
yew-agent = "0.2.0"
yew-tincture.workspace = true
js-sys.workspace = true
wasm-bindgen.workspace = true
web-sys = { workspace = true, features = [
    "CssStyleDeclaration",
    "HtmlAnchorElement",
] }
tracing.workspace = true
wasm-logger.workspace = true
serde.workspace = true
chrono.workspace = true
ncollide3d = { workspace = true, features = ["default", "serde-serialize"] }

braid-mvg.workspace = true
strand-cam-enum-iter.workspace = true
ads-webasm = { workspace = true, features = ["obj", "csv-widget"] }

freemovr-calibration = { path = ".." }
