[package]
name = "zip-or-dir"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"
license = "MIT/Apache-2.0"
categories = ["compression", "filesystem"]

[dependencies]
zip.workspace = true
thiserror.workspace = true
libflate.workspace = true

[dev-dependencies]
tempfile.workspace = true
