[package]
name = "zip-or-dir"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version="1.60"
license = "MIT/Apache-2.0"
categories = [ "compression", "filesystem" ]

[dependencies]
zip = { version = "0.6.2", default-features = false, features=["deflate", "time"] }
thiserror = "1.0.33"

[dev-dependencies]
tempfile = "3.4"

[features]
backtrace = []
