[Desktop Entry]
Encoding=UTF-8
Version=0.1.0
Type=Application
Categories=Application
Exec=/usr/bin/strand-cam-camtrig-pylon
Name=Strand Camera (Basler Pylon)
GenericName=Realtime Image Analysis
Comment=
Icon=strand-cam-camtrig-pylon-icon
