Source: braid-pylon5
Maintainer: Andrew Straw <strawman@astraw.com>
Build-Depends: debhelper (>= 9), pylon (>=5)
Standards-Version: 3.9.1

Package: braid-pylon5
Architecture: any
Description: multi-camera tracking
Depends: ${shlibs:Depends}, pylon (>=5)
Conflicts: braid-pylon
