<launch>

  <!-- 
    Launch this like so:

    ROS_HOME=`pwd` ROS_MASTER_URI=http://10.4.66.34:11311 roslaunch ./mainbrain-and-four-cams.launch

    This will launch the mainbrain and 4 cameras. On another computer (e.g. at 10.4.66.30), launch cameras like so:

      ROS_HOSTNAME=10.4.66.30 ROS_MASTER_URI=http://10.4.66.34:11311 camnode2-pylon -no-browser

  -->

  <!-- This machine has IP of 10.4.66.34. A public port on this IP will be used as the UDP data address. (This
  address is set on the mainbrain using the -lowlatency-camdata-udp-addr CLI argument.) All ROS processes
  must specify their own IP address with ROS_HOSTNAM=a.b.c.d. All ROS processes must specify the URL of roscore.
  For example, if roscore is running on this machine, use ROS_MASTER_URI=http://10.4.66.34:11311 for all ROS
  processes.

  The requirement to set ROS_HOSTNAME will probably disappear in rosrust 0.8. See https://github.com/adnanademovic/rosrust/issues/55 .
  -->
  <node name="flydra_mainbrain" pkg="flycave" type="mainbrain2" args="--output DATA -r cal-2018-11-13-good.xml -t /dev/trig1 --http-api-server-addr 10.4.66.34:2021 --lowlatency-camdata-udp-addr 10.4.66.34:3824 --model-server-addr 0.0.0.0:2832 --jwt-secret=secretX">
    <env name="ROS_HOSTNAME" value="10.4.66.34"/>
  </node>

  <!-- This way of specifying rosparam is different than the old flydra1 way where the rosparams were `/Baslser_1234/gain_db`. Here they would be `/ros_node_name/gain_db`. -->
  <node name="flydra_camera_node1" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22005677 --http-server-addr=127.0.0.1:4011 --tracker-config=tracker-config.yaml">
    <env name="ROS_HOSTNAME" value="10.4.66.34"/>
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node2" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139107 --http-server-addr=127.0.0.1:4012 --tracker-config=tracker-config.yaml">
    <env name="ROS_HOSTNAME" value="10.4.66.34"/>
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node3" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139109 --http-server-addr=127.0.0.1:4013 --tracker-config=tracker-config.yaml">
    <env name="ROS_HOSTNAME" value="10.4.66.34"/>
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node4" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139110 --http-server-addr=127.0.0.1:4014 --tracker-config=tracker-config.yaml">
    <env name="ROS_HOSTNAME" value="10.4.66.34"/>
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

</launch>
