div.custom-file-upload-div-outer {
    margin: 2px;
    padding: 1px;
    border-width: 1px;
    border-style: solid;
}

.custom-file-upload-dropzone {
    background-color: mediumseagreen;
}

div.custom-file-upload-div-inner {
    margin: 10px;
}

.custom-file-upload-fs {
    font-size: 80%;
}

input[type="file"].custom-file-upload-input {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
}
