[package]
name = "braid-april-cal"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing.workspace = true
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0"
serde_yaml.workspace = true
itertools.workspace = true
nalgebra.workspace = true
cam-geom.workspace = true
opencv-ros-camera = { workspace = true, features = ["serde-serialize"] }
chrono.workspace = true
dlt = { workspace = true, features = ["default", "serde-serialize"] }
argmin = { version = "0.10.0", features = [
    "wasm-bindgen",
], default-features = false }
argmin-math = "0.4.0"
sqpnp = "0.3.0"
glam = "0.30"

apriltag-detection-writer.workspace = true
braid-apriltag-types.workspace = true
braid-mvg.workspace = true
flydra-mvg.workspace = true

[dev-dependencies]
anyhow.workspace = true
ads-webasm = { workspace = true, features = ["csv-widget"] }
