[package]
name = "video2rrd"
description = "Convert video with Strand Cam timestamps to RRD format for Rerun Viewer"
version = "0.2.0"
edition = "2021"

[dependencies]
camino.workspace = true
clap.workspace = true
serde_yaml.workspace = true
eyre.workspace = true
tracing.workspace = true
re_chunk.workspace = true
re_sdk.workspace = true
re_sdk_types = { workspace = true, features = ["image", "video"] }
image.workspace = true
regex.workspace = true
machine-vision-formats.workspace = true
chrono.workspace = true
indicatif.workspace = true
undistort-image.workspace = true
opencv-ros-camera.workspace = true

env-tracing-logger.workspace = true
convert-image.workspace = true
frame-source = { workspace = true, features = ["openh264"] }
strand-dynamic-frame.workspace = true
braid-types.workspace = true
