[package]
name = "video2rrd"
description = "Convert video with Strand Cam timestamps to RRD format for Rerun Viewer"
version = "0.1.0"
edition = "2021"

[dependencies]
clap.workspace = true
serde_yaml.workspace = true
eyre.workspace = true
tracing.workspace = true
re_types = { workspace = true, features = ["image"] }
re_sdk.workspace = true
image.workspace = true
regex.workspace = true
machine-vision-formats.workspace = true
chrono.workspace = true
indicatif.workspace = true
undistort-image.workspace = true
opencv-ros-camera.workspace = true

env-tracing-logger.workspace = true
convert-image.workspace = true
frame-source = { workspace = true, features = ["openh264"] }
strand-dynamic-frame.workspace = true
flydra-types.workspace = true
