@use '../../scss/colors';
@use '../../scss/base';
@use '../../scss/custom_file_upload';
@use '../../scss/wrap_collapsible';
@use '../../scss/recording_path';
@use '../../scss/ranged_value';
@use '../../scss/config_field';

@include base.base(
    $body-color-dark: colors.$body-color-dark,
    $body-background-dark: colors.$body-background-dark,
    $modal-background-dark: colors.$modal-background-dark,
    $text-background-dark: colors.$text-background-dark,
    $text-color-dark: colors.$text-color-dark,

    $body-color-light: colors.$body-color-light,
    $body-background-light: colors.$body-background-light,
    $modal-background-light: colors.$modal-background-light,
    $text-background-light: colors.$text-background-light,
    $text-color-light: colors.$text-color-light,
    );

@include config_field.config_field($background-dark: colors.$modal-background-dark, $background-light: colors.$modal-background-light);
@include recording_path.recording_path($background-dark: solid 1px colors.$body-color-dark, $background-light: solid 1px colors.$body-color-light);

html,
body {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 5px;
    background: colors.$body-color-dark;
    color: colors.$body-background-dark;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 0.25em;
    margin-bottom: 0.125em;
}
