<launch>

  <!-- 
    Launch this like so:

    ROS_HOME=`pwd` roslaunch ./flydra2.launch

    This will launch the mainbrain and 4 cameras.

  -->

  <node name="flydra_mainbrain" pkg="flycave" type="mainbrain2" args="--output DATA -r cal-2018-11-13-good.xml -t /dev/trig1">
  </node>

  <node name="flydra_camera_node1" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22005677 --http-server-addr=127.0.0.1:4011 --tracker-config=tracker-config.yaml">
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node2" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139107 --http-server-addr=127.0.0.1:4012 --tracker-config=tracker-config.yaml">
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node3" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139109 --http-server-addr=127.0.0.1:4013 --tracker-config=tracker-config.yaml">
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

  <node name="flydra_camera_node4" pkg="ros_flydra" type="camnode2-pylon" args="--camera-name=Basler-22139110 --http-server-addr=127.0.0.1:4014 --tracker-config=tracker-config.yaml">
    <rosparam>
      gain_db: 1.
      exposure_usec: 500
      external_trigger: On
    </rosparam>
  </node>

</launch>
