[package]
name = "braidz-export-rrd"
version = "0.12.0-alpha.9" # braid release synchronized
edition = "2024"

[dependencies]
clap.workspace = true
eyre.workspace = true
camino.workspace = true

tracing.workspace = true
re_sdk.workspace = true
re_sdk_types.workspace = true

rayon = "1.9.0"

braidz-parser.workspace = true
braidz-rerun.workspace = true
env-tracing-logger.workspace = true
frame-source.workspace = true
strand-cam-remote-control.workspace = true
mp4-writer = { workspace = true, features = ["nv-encode"] }

[features]
default = ["openh264-encode"]

openh264-encode = ["mp4-writer/openh264-encode", "frame-source/openh264"]
