[package]
name = "vimba"
version = "0.1.0"
edition = "2024"

[dependencies]
vmbc-sys = "0.1"
libloading = "0.8.3"
thiserror.workspace = true
machine-vision-formats.workspace = true
tracing.workspace = true

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.54.0", features = ["Win32_System_LibraryLoader"] }

[dev-dependencies]
anyhow.workspace = true
env_logger.workspace = true
lazy_static.workspace = true
tokio = { version = "1", features = [
    "sync",
    "macros",
    "rt-multi-thread",
    "time",
] }
