[package]
name = "ffmpeg-rewriter"
version = "0.1.0"
edition = "2024"

[dependencies]
machine-vision-formats.workspace = true
strand-cam-remote-control.workspace = true
thiserror.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true

strand-dynamic-frame.workspace = true
ffmpeg-writer.workspace = true
mp4-writer = { workspace = true, features = ["nv-encode"] }
frame-source = { workspace = true, features = ["openh264"] }
srt-writer.workspace = true

[dev-dependencies]
ttf-firacode.workspace = true
rusttype.workspace = true
convert-image.workspace = true
env-tracing-logger.workspace = true
eyre.workspace = true
font-drawing.workspace = true
image.workspace = true
tempfile.workspace = true
test-log = { version = "0.2.16", default-features = false, features = [
    "trace",
] }
