h4 {
    margin-top: 4px;
    margin-bottom: 2px;
}

.mdl-cell {
    margin: 2px;
}

.mdl-textfield {
    padding-top: 15px;
    padding-bottom: 3px;
}

.mdl-textfield__label::after {
    bottom: 3px;
}

.mdl-radio {
    padding-right: 10px;
}

.mdl-radio.is-upgraded {
    padding-left: 18px;
}

.live-preview {
    width:100%;
    height:auto;
}
