Source: braidz-cli
Maintainer: Andrew Straw <strawman@astraw.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.1

Package: braidz-cli
Architecture: any
Description: braidz file command-line utility
Depends: ${shlibs:Depends}
Conflicts: flydra2 (< 0.20.31)
