[package]
name = "flydra2"
version = "0.20.29"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version = "1.76"

[lib]
path = "src/flydra2.rs"

[build-dependencies]
build-util.workspace = true

[dependencies]
thiserror.workspace = true
hdrhistogram.workspace = true
futures.workspace = true
pin-project.workspace = true
csv.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
toml.workspace = true
dyn-clone.workspace = true
nalgebra.workspace = true
parry3d-f64.workspace = true
configure.workspace = true
itertools.workspace = true
axum.workspace = true
http.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
libflate.workspace = true
zip.workspace = true
machine-vision-formats.workspace = true
tracing.workspace = true
tracing-futures.workspace = true
hyper-util.workspace = true
http-body-util.workspace = true
bytes.workspace = true
http-body.workspace = true
adskalman.workspace = true
pretty-print-nalgebra.workspace = true
nalgebra-mvn.workspace = true
iana-time-zone.workspace = true
tower-http = { workspace = true, optional = true }
tower-serve-static = { workspace = true, optional = true }
include_dir = { workspace = true, optional = true }
const_format = "0.2.32"
approx.workspace = true
re_types.workspace = true
re_sdk.workspace = true
cam-geom.workspace = true
num-traits.workspace = true

braidz-types.workspace = true
braidz-writer.workspace = true
datetime-conversion.workspace = true
env-tracing-logger.workspace = true
mvg = { workspace = true, features = ["rerun-io"] }
flydra-mvg.workspace = true
http-video-streaming-types.workspace = true
flydra-types.workspace = true
tracking.workspace = true
groupby.workspace = true
withkey.workspace = true
convert-image.workspace = true
strand-cam-csv-config-types.workspace = true
event-stream-types.workspace = true

[dev-dependencies]
tempfile.workspace = true
approx.workspace = true
download-verify.workspace = true

[features]
default = ["bundle_files"]

# must pick one of the following two:
bundle_files = ["tower-serve-static", "include_dir"]
serve_files = ["tower-http"]

braid = []
