[package]
name = "bg-movie-writer"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2018"

[dependencies]
log = "0.4.5"
chrono = "0.4"
crossbeam-channel = "0.5"
thiserror = "1.0"

mkv-writer = {path="../mkv-writer"}
machine-vision-formats = "0.1"
ci2-remote-control = { path = "../ci2-remote-control"}
nvenc = {path="../nvenc"}
strand-cam-mkvfix = {path="../strand-cam-mkvfix"}
basic-frame = { path = "../basic-frame" }
