[package]
name = "strand-cam-frontend-yew"
version = "0.12.0-alpha.9"                       # braid release synchronized
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"

[dependencies]
console_error_panic_hook.workspace = true
wasm-logger.workspace = true
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
js-sys.workspace = true
gloo-events.workspace = true
gloo-utils.workspace = true
yew.workspace = true
serde = { version = "1.0", default-features = false }
serde_json = "1.0"
serde_yaml.workspace = true
yew-tincture.workspace = true
gloo-timers = "0.3.0"
uuid = { version = "1.2.2", default-features = false, features = ["js", "v4"] }

strand-bui-backend-session-types.workspace = true
strand-cam-storetype.workspace = true
flydra-feature-detector-types.workspace = true
strand-http-video-streaming-types.workspace = true
strand-cam-types.workspace = true
strand-cam-remote-control.workspace = true

strand-led-box-comms.workspace = true
strand-cam-enum-iter.workspace = true
ads-webasm.workspace = true

[dependencies.web-sys]
workspace = true
features = [
    "DomRect",
    "DomTokenList",
    "Element",
    "Event",
    "EventSource",
    "Headers",
    "HtmlCanvasElement",
    "HtmlImageElement",
    "HtmlInputElement",
    "MessageEvent",
    "Request",
    "RequestCache",
    "RequestInit",
    "RequestMode",
    "Response",
    "Window",
]
