[package]
name = "braidz-mcsc"
version = "0.1.0"
edition = "2024"

[dependencies]
clap.workspace = true
eyre.workspace = true
tracing.workspace = true
polars = { version = "0.51", default-features = false, features = [
    "dtype-u8",
    "fmt",
    "lazy",
    "partition_by",
    "polars-io",
    "serde",
] }
polars-io = { version = "0.51", default-features = false, features = ["csv"] }
opencv-ros-camera.workspace = true
serde_yaml.workspace = true
tempfile.workspace = true
image.workspace = true
include_dir.workspace = true
zip.workspace = true
nalgebra.workspace = true
camino.workspace = true
re_sdk = { workspace = true, optional = true }
levenberg-marquardt.workspace = true
cam-geom.workspace = true
approx.workspace = true

braidz-parser.workspace = true
bundle-adj.workspace = true
env-tracing-logger.workspace = true
flydra-mvg.workspace = true
braid-types.workspace = true
mcsc-structs.workspace = true
zip-or-dir.workspace = true
braid-mvg.workspace = true

[dev-dependencies]
download-verify.workspace = true

[features]
with-rerun = ["dep:re_sdk", "bundle-adj/with-rerun"]
