@use 'base';
@use 'colors';
@use 'recording_path';
@use 'lds_ellipsis';
@use 'video_field';
@use 'config_field';
@use 'ranged_value';
@use 'wrap_collapsible';

@include base.base(
    $body-color-dark: colors.$body-color-dark,
    $body-background-dark: colors.$body-background-dark,
    $modal-background-dark: colors.$modal-background-dark,
    $text-background-dark: colors.$text-background-dark,
    $text-color-dark: colors.$text-color-dark,

    $body-color-light: colors.$body-color-light,
    $body-background-light: colors.$body-background-light,
    $modal-background-light: colors.$modal-background-light,
    $text-background-light: colors.$text-background-light,
    $text-color-light: colors.$text-color-light,
    );

@include recording_path.recording_path($background-dark: solid 1px colors.$body-color-dark, $background-light: solid 1px colors.$body-color-light);
@include config_field.config_field($background-dark: colors.$modal-background-dark, $background-light: colors.$modal-background-light);
@include video_field.video_field($border-dark: 1px solid  colors.$body-color-dark, $border-light: 1px solid  colors.$body-color-light);

.reset-background-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 5px;
    background:  colors.$body-color-dark;
    color:  colors.$body-background-dark;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 0.25em;
    margin-bottom: 0.125em;
}

.cam-range-main {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.auto-mode-buttons {
    padding-left: 1em;
}

.cam-range-inner {
    padding-top: 0.3em;
}

html,
body {
    margin: 0;
    padding: 0;
}

.led-control {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
