$body-background-dark: #000000;
$modal-background-dark: rgba(77, 77, 77, 1.0);
$text-background-dark: #5e5e5e;
$text-color-dark: #bababa;
$body-color-dark: #adadad;
// --------
$body-background-light: #ffffff;
$modal-background-light: rgba(178, 178, 178, 1.0);
$text-background-light: rgba(178, 178, 178, 1.0);
$text-color-light: #404040;
$body-color-light: #404040;
