[package]
name = "strand-convert"
version = "0.12.0-alpha.9"                       # braid release synchronized
edition = "2024"
authors = ["Andrew Straw <strawman@astraw.com>"]

[dependencies]
clap.workspace = true
env-tracing-logger.workspace = true
eyre.workspace = true
serde_json.workspace = true
tracing.workspace = true
indicatif.workspace = true
chrono.workspace = true
ordered-float.workspace = true

strand-dynamic-frame = { workspace = true, features = ["convert-image"] }
convert-image.workspace = true
frame-source = { workspace = true, features = ["openh264"] }
tiff-decoder.workspace = true
mp4-writer = { workspace = true, features = ["openh264-encode", "nv-encode"] }
strand-cam-remote-control.workspace = true
nvenc.workspace = true

[dev-dependencies]
download-verify.workspace = true
tempfile.workspace = true
zip.workspace = true
tracing-test.workspace = true
