[package]
name = "strand-cam-pseudo-cal"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"

[dependencies]
serde_json.workspace = true
nalgebra.workspace = true
opencv-ros-camera.workspace = true
cam-geom.workspace = true

flydra-mvg.workspace = true
braid-mvg.workspace = true
strand-http-video-streaming-types.workspace = true
braid-types.workspace = true

[dev-dependencies]
approx.workspace = true
