[package]
name = "flytrax-csv-to-braidz"
version = "0.12.0-alpha.9"                       # braid release synchronized
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2021"
rust-version = "1.76"

[dependencies]
tracing.workspace = true
clap.workspace = true
csv.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
toml.workspace = true
nalgebra.workspace = true
itertools.workspace = true
lazy_static.workspace = true
futures.workspace = true
tokio.workspace = true
tempfile.workspace = true
eyre.workspace = true
image.workspace = true
opencv-ros-camera = { workspace = true, features = ["serde-serialize"] }

datetime-conversion.workspace = true
env-tracing-logger.workspace = true
flydra-mvg.workspace = true
http-video-streaming-types.workspace = true
flydra-types.workspace = true
strand-cam-csv-config-types.workspace = true
strand-cam-pseudo-cal.workspace = true
flydra2 = { workspace = true, features = ["bundle_files"] }
braidz-types.workspace = true
braidz-parser.workspace = true
zip-or-dir.workspace = true
braid-offline.workspace = true
flytrax-apriltags-calibration = { workspace = true, optional = true }
flytrax-io.workspace = true

[dev-dependencies]
env_logger.workspace = true
test-log = "0.2.12"
download-verify.workspace = true

[features]
with_apriltags = ["flytrax-apriltags-calibration"]
