[package]
name = "strand-bui-backend-session-types"
version = "0.1.1"
edition = "2024"
authors = ["Andrew Straw <strawman@astraw.com>"]
repository = "https://github.com/strawlab/strand-braid"
description = "Types for Strand Camera BUI (Browser User Interface) backend session management"
license = "MIT OR Apache-2.0"
keywords = ["bui", "browser", "session"]
categories = ["web-programming", "data-structures", "network-programming"]
readme = "README.md"

[dependencies]
uuid = { version = "1.0", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }

[features]
default = []

uuid-v4 = ["uuid/v4"]

[package.metadata.docs.rs]
features = ["uuid-v4"]
rustdoc-args = ["--cfg", "docsrs"]
