@use 'colors';
@use 'base';
@use 'custom_file_upload';
@use 'lds_ellipsis';

@include base.base($body-color-dark: colors.$body-color-dark,
    $body-background-dark: colors.$body-background-dark,
    $modal-background-dark: colors.$modal-background-dark,
    $text-background-dark: colors.$text-background-dark,
    $text-color-dark: colors.$text-color-dark,

    $body-color-light: colors.$body-color-light,
    $body-background-light: colors.$body-background-light,
    $modal-background-light: colors.$modal-background-light,
    $text-background-light: colors.$text-background-light,
    $text-color-light: colors.$text-color-light,
);

html,
body {
    margin: 0;
    padding: 5px;
}

h2 {
    padding: 5px;
    background: #adadad;
    color: #000000;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 0.25em;
    margin-bottom: 0.125em;
}

.compute-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.compute-modal-inner {
    line-height: 1.5em;
    position: fixed;
    background-color: #7f7f7f;
    color: black;
    top: 10px;
    padding: 10px;
    left: 5%;
    width: 90%;
    box-shadow: 10px 5px 5px black;
    text-align: center;
}

.display-none {
    display: none;
}


@media (prefers-color-scheme: dark) {

    button:disabled,
    button[disabled] {
        color: colors.$text-background-dark;
        border: 1px solid colors.$text-background-dark;
    }
}


@media (prefers-color-scheme: light) {

    button:disabled,
    button[disabled] {
        color: colors.$text-background-light;
        border: 1px solid colors.$text-background-light;
    }
}
