[package]
name = "strand-cam-storetype"
description = "Type definitions for Strand Camera's state management and browser UI communication."
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true

strand-bui-backend-session-types.workspace = true
strand-led-box-comms.workspace = true
strand-cam-types.workspace = true
strand-cam-remote-control.workspace = true
flydra-feature-detector-types.workspace = true
strand-http-video-streaming-types.workspace = true
strand-cam-bui-types.workspace = true
braid-mvg.workspace = true
