#!/usr/bin/make -f

# This is a hack. We cannot build from clean source. Download binary and
# then run the debian stuff.

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -a --dpkg-shlibdeps-params=--ignore-missing-info
