name: Build strand-cam-offline-checkerboards app

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  strand-cam-offline-checkerboards-ubuntu:
    strategy:
      matrix:
        runs-on: [ubuntu-24.04, ubuntu-22.04, ubuntu-20.04]
    runs-on: ${{ matrix.runs-on }}
    defaults:
      run:
        working-directory: strand-cam/strand-cam-offline-checkerboards
    steps:
      - uses: actions/checkout@v4
      - name: install OpenCV
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y libopencv-dev
      - name: Build app
        run: |
          cargo build --release
      - name: Show shared libraries required
        run: |
          ldd ${{ github.workspace }}/target/release/strand-cam-offline-checkerboards
      - name: Test executable on sample data
        run: |
          curl -O http://strawlab-cdn.com/assets/checkerboard_debug_20240222_164128.zip
          unzip checkerboard_debug_20240222_164128.zip
          ${{ github.workspace }}/target/release/strand-cam-offline-checkerboards checkerboard_debug_20240222_164128 18 8
          cat checkerboard_debug_20240222_164128.yaml
      - name: Create release directory
        run: |
          mkdir ${{ github.workspace }}/strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}
          cp ${{ github.workspace }}/target/release/strand-cam-offline-checkerboards ${{ github.workspace }}/strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}/
          cp README.md ${{ github.workspace }}/strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}/
          find ${{ github.workspace }}/strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}
      - uses: actions/upload-artifact@v4
        with:
          name: strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}
          path: ${{ github.workspace }}/strand-cam-offline-checkerboards-${{ runner.os }}-${{ matrix.runs-on }}-${{ runner.arch }}
